.DS_Store
*.log
.env

/target
**/target
/target-*
**/target-*
**/*.rlib
**/*.rmeta

node_modules/
**/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

**/pkg/
**/target-wasm/

/test-ledger/
**/test-ledger/
**/target/deploy/*.so
**/target/deploy/*keypair.json

circuits/*/target/
**/*.pk
**/*.vk
**/*.ccs
**/*.proof
**/*.pw
**/Prover.toml

tmp/
**/*.tmp

tools/
